<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Pokoje", rooms_path  %></li>
      <li><%= link_to "Kategorie", categories_path  %></li>
      <li><%= link_to "Devices", devices_path  %></li>
      <li><%= link_to "Pokoje-Kategorie", room_categories_path  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->